@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Playfair+Display:wght@400;700&display=swap');
*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    justify-content: start;
    align-items: flex-start;
    border-style: none;
    background-color: transparent;
    font-size: 15px;
    font-family: 'IBM Plex Mono',serif;
    color: var(--text-color);
    position: relative;
    object-fit: fill;
    z-index: 1;
    box-sizing: border-box;
}
:root {
  --background-color: #eff0e9;
  --text-color: #333;
  --menu-bg-color: #eff0e9;
  --border-color: #d9dbd0;
  --dwnl-bg-color: #fff;
  --dwnl-text-color: #0e0e0e;
  --shadow-color: #0000001f;
  --orange-color: #ff7f50;
  --green-color: #71a882;
  --red-color: #ff6347;
}
[data-theme="dark"] {
  --background-color: #0e0e0e;
  --text-color: #c9cac5;
  --menu-bg-color: #1f1e1e;
  --border-color: #ffffff1a;
  --dwnl-bg-color: #c9cac5;
  
  --dwnl-text-color: #000;
  --shadow-color: rgb(41, 41, 41);
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color); 
  height: auto;
  width: auto;
  max-width: fit-content;
  overflow-x: hidden;
  padding-left: 20px;
}
.PageWrapper{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}
.PageWrapper .LeftContent{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  width: 10%;
  position: sticky;
  top: 0;
}
.PageWrapper .textVertical{
  transform: rotateZ(-90deg);
  width: 100vh;
  font-size: 64px;
  color: var(--border-color);
  font-family: 'Playfair Display',serif;
  font-weight: 700;
  padding-left: 40px;
  padding-bottom: 60px;   
}
.PageWrapper .MainContent{
  width:60%;
  padding: 0vw 4vw 0vw 4vw;
}
.PageWrapper .RightContent{
  width:35%;
  height: 100%;
  position: sticky;
  top: 5px;
  padding: 2vw 3vw 0vw 3vw;
}
.sidePic{
  margin-bottom: 20px;
  width:95%;
}
.UpperSection{
  padding-bottom: 40px;
  padding-top: 49px;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position: fixed; */
  margin-top: -20px;
  background-color: var(--menu-bg-color);
  box-shadow: 0px 8px 23px 0px var(--shadow-color);
  z-index: 8;
}
nav.hide {
  top: -50px;
  transition: top 2s ease;
}
nav.inactive{
  background-color: transparent;
  box-shadow: none;
  transition: 0.45 ease;
  border-radius: 50%;
}
.navMenu{
  /*This is the menu that appears when the menu button is clicked*/
  padding: 8px 0px 8px 0px;
  height: 100%;
}
.navMenu.inactive{
  display: none;
  opacity: 0;
  transition: opacity 2.85s ease;
  padding: 0px;
}
.menuButton{
  margin: 6px 16px 6px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 7;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.menuButton.inactive{
  background-color: transparent;
  margin: 0px;
}
.menuButton:hover{
  border-style: solid;
  transition: 0.45s;
  border-color: var(--border-color)
}
.menuIcon{
  display: block;
  width: 36px;
  height: 36px;
  padding: 4px;
  box-sizing: border-box;
}
.bar1, .bar2, .bar3{
  width: 25px;
  height: 2.3px;
  background-color: var(--text-color);
  margin: 6.2px 0;
  transition: 0.45s;
}
.bar1.active {
  transform: rotate(45deg) translate(5px, 5px);
}
.bar2.active {
  opacity: 0;
}
.bar3.active {
  transform: rotate(-45deg) translate(7px, -6px);
}

.navLinks{
  gap: 20px;
  display: flex;
  flex-direction: row;
  margin-right: 28px;
  height: 48px;
  align-items: center;
}
.navLinks a{
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  margin: 2px 14px 2px 14px;
  padding: 0px 2px;
  font-size: 13px;

}
.utilBar{
  position: fixed;
  display: flex;
  flex-direction: row;
  margin: 5% 0px 0px 1%;
  z-index: 9;
  top:0;
  transition: 0.45s;
}
.utilBar.hide{
  top: -150px;
  transition: top 1.5s ease;
}
.darkModeSwitch{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 70px;
  margin-right: 10px;
  background-color: transparent;
}
h1{
  font-family: 'Playfair Display',serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 30px;
  color: var(--text-color);
}
h2{
  font-family: 'Playfair Display',serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 18px;
}
a{
  text-decoration: none;
  color: #0b6d2a;
  font-weight: bold;

}
section{
  margin-bottom: 70px;
}
section h2{
  color:#333;
  font-family: 'Playfair Display';
  font-weight: normal;
  margin-bottom: 50px;
}
p{
  /*margin-bottom: 24px;*/
  line-height: 30px;
}
section .HeroIntro{
  padding: 60px 0px 40px 0px;
}
.HeroIntro h1{
  margin-bottom: 40px;
}
.HeroIntroH1{
  font-family: 'Playfair Display',serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 40px;
}
.HeroIntro p{
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}
img{
  display: inline;
  width: 100%;
  height: auto;
  position: relative;
}
div .twoButtonGrid{
  width: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 14px;
  justify-items: stretch;
  align-items: stretch;
  
}
ul{
  padding-left: 18px;
  margin-top: 10px;
}

ul .collapsibleItem{
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 25px;
  border-color: var(--border-color);
  border-style: solid;
  box-shadow: 0px 1.5px 2.5px 0px var(--shadow-color);
  border-width: 1.2px;
}

ul .collapsibleItem:hover{
  color: #71a882;
  cursor: pointer;
  border-color: #71a882;
}

.collapsibleTriggerContent {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

.Collapsible__contentInner {
  background-color: var(--border-color);
}

.Collapsible__contentInner p {
  padding: 0px 20px 0px 20px;
  margin-top: 7.5px;
  margin-left: 15px;
  font-size: 12.35px;
  line-height: 28px;
}

.plusSymbol {
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
  margin-left: 40px;
}

/* ul .Collapsible li{
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 5px;
  border-color: var(--border-color);
  border-style: solid;
  box-shadow: 0px 2px 3px 0px var(--shadow-color);
  padding: 10px 20px 10px 20px;
  border-width: 1.2px;

} */
ul .Collapsible li::marker {
  content: ""; /* custom marker */
}

ul .Collapsible li:hover{
  color: #71a882;
  cursor: pointer;
}

@counter-style customMarker {
  symbols: "+";
  suffix: " ";
}
.twoButtonGrid button{
  font-family: 'IBM Plex Mono',serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  height: 56px;
  background-color: #71a882;
  align-content: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  position: relative;
  color: whitesmoke;

}
.progLangs{
  display: grid;
  align-items: center;
  grid-template-columns: 30.3% 30.3% 30.3%;
  grid-template-rows: auto auto;
  row-gap: 30px;
  column-gap: 25px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e1e3d9;
  text-align: center;
}

.skills, .tags{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.skillItem, .tag{
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1.8px;
  border-radius: 15px;
  padding: 0.5px 10px;
  font-size: 4px;
}
.skillItem p{
  margin: 0px;
  font-size: 12.75px;
}
.tag p{
  margin: 0px;
  font-size: 12px;
}
.skillItem p.yoe{
  color: var(--text-color);
  margin: 0px 0px 0px 5px;
}

.experienceItem{
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 15px;
}

.timeline{
  display: flex;
  flex-direction: column;
  background-color: var(--border-color);
  width: 2px;
  height: 90%;
  align-items: center;
}
.timeline .circle{
  border-radius: 50px;
  border-color: #71a882;
  border-style: solid;
  width: 14px;
  height: 14px;
  position: absolute;
}
.timeline .coloredLine {
  background-color: #71a882;
  width: 3px;
  height: 35%;
  position: absolute;
  margin-top: 20px;
}

.experienceItem .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
}

#asDeg{
  padding-top: 0%;
}
.progLang p{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Playfair Display';

}
.Info p{
  line-height: 28px;
  color: rgb(99, 99, 99)
}
.aboutGrid{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 18px;
  row-gap: 2px;
}
.hobbies ul,.courses ul{
  font-family: 'IBM Plex Mono';
  color: #151515;
  margin-left: 18px;
  line-height: 28px;
  padding-top: 10px;
}
.downloadWrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: -110px;
  margin-left: -4%;
  padding-right: 3px;
  background-color: transparent;
  width: 100%;
  height: 56px;
  z-index: 5;
}
#dwnlForm{
  display: flex;
  flex-direction: row;
  background-color: var(--dwnl-bg-color);
  height: 100%;
  align-items: center;
  justify-content: center;
}
#dwnlForm button{
  font-family: 'IBM Plex Mono',serif;
  padding-left: 7px;
  padding-right: 7px;
  color: var(--dwnl-text-color);
}
#dwnlForm img{
  max-width: 20px;
}
.RightContent .Info{
  margin-top: 50px;
  width: 100%;
}
.contactBlck{
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #71a882;
}
.contactBlck p{
  height: 15px;
  font-size: 13px;
  margin-bottom: 5px;
}
.contactBlck a{
  text-decoration: none;
  color: #2e633f;
  font-size: 13px;
}
.projectSideBarDetails{
  border: 2px solid var(--border-color);
  padding: 20px 40px 20px 15px;
  margin: 0px 20px 20px 0px;
}
.projectSideBarDetails>a{
  margin: 12px 0px 12px 0px;
}
.proficiencyGrid{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 14px;
}
.proficiencyGrid h5, .proficiencyGrid progress{
  padding-top: 6%;
}
.liveDemoLink{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.blinker {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgb(228, 82, 82);
  display: inline-block;
  margin-left: 9px;
  animation: blinkAnimation 1s infinite;
}
.status{
  display: flex;
  flex-direction: row;  
  height: 20px;
  margin: 15px 0px;
}
.status p{
  margin: 0px;
  border-radius: 10px;
  padding: 0px;
  font-size: 11.5px;
  font-weight: 600;
}
p.statusAdditionalText{
  color: var(--text-color);
  width: auto;
  margin-left: 8px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes blinkAnimation {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
/*--------- progress bar ----------*/
progress[value]::-webkit-progress-bar{
  background-color: #d9dbd0;
  height: 5px;
  align-items: center;
}
progress[value]::-webkit-progress-value {
  background-color: #71a882;
}
/*--------- fallback for progress bar ----------*/
.progress-bar{
  background-color: whiteSmoke;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

  width: 250px;
  height: 20px;

  position: relative;
  display: block;
}
.progress-bar > span{
  background-color: blue;
  border-radius: 2px;

  display: block;
  text-indent: -9999px;
}
.contactGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
input{
    background-color: #e1e3d9;
    margin-bottom: 30px;
    height: 40px;
    width: 80%
}
input[type=submit]{
    background-color: #71a882;
    color: #ffffff;
    width: 50%;
}
textArea{
  background-color: #e1e3d9;
  margin-bottom: 35px;
  width: 70%;
}
.msgAreaDiv{
  grid-column: 1/span 2;
}

.workContainer{
    border-style: solid;
    border-color: var(--border-color);
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 8px 23px 0px var(--shadow-color);
    border-width: 2px;
}
.workContainer:hover{
    cursor: pointer;
    border-color: #71a882;
}
/* Inner shadow for dark mode */
[data-theme="dark"] .workContainer {
  box-shadow: inset 0px 0px 2.5rem 0px var(--shadow-color);
}
.workContainer h3{
    margin-bottom: 25px;
}
.threeColGrid{
    display: grid;
    grid-template-columns: 0.9fr 1.6fr 0.5fr;
    column-gap: 25px;
    align-items: center;
    margin-bottom: 16px;
}
.threeColGrid p{
    text-align: justify;
}
.projectLinks{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
.projectLinks a{
    margin-right: 10px;
}
/*--------- footer styles ----------*/
.footer .links
{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.links a{
    margin-right: 6.8%;
    text-decoration: none;
}
.footer p{
    font-size: 10.8px;
    color: #333;
}
.footer{
    padding: 20px 0px 20px 0px;
    border-top-style: solid;
    border-width: 1.9px;
    border-color: var(--border-color);
    width: 80%;
}

.footer a{
    color: var(--text-color) !important;
}

/*------------------------- Mobile Portrait --------------------------------*/
@media only screen 
and (min-device-width: 320px) 
and (orientation: portrait) {

    body .PageWrapper {
        max-width: 100%; 
        display: flex; 
        flex-direction: column;
        align-content: stretch;
        position: relative;
        padding-left: 16px;
        padding-right: 16px;
    }

    .PageWrapper .LeftContent{
        display: none;
    }

    .PageWrapper .RightContent{
        display: block;
        position: relative;
        width: 100%;
        order: 1;
        padding: 2vw 0vw 0vw 0vw;
    }
    .PageWrapper .MainContent{
        order: 2;
        align-self: center;
        width: 100%;
        padding: 0vw 1vw 0vw 1vw;
    }
    nav{
      margin-left: 1vw;
    }
    .aboutGrid{
        grid-template-columns: 1fr;
        row-gap: 15px;
    }
    .threeColGrid{
        grid-template-columns: 1fr;
       
    }
    .workContainer{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .progLangs{
        display: grid;
        align-items: center;
        grid-template-columns: 50% 50%;
        
        row-gap: 30px;
        column-gap: 20px;
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #e1e3d9;
        text-align: center;
    }
    #schName{
        grid-row: 1;
        grid-column: 2;
    }
    #schName2{
        grid-row: 2;
        grid-column: 2;
    }
    #schName3{
        grid-row: 3;
        grid-column: 2;
    }
}